---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.posts.size > 0 -%}
  <div style="text-align:left">
  <h2 class="post-list-heading">{{ page.list_title | default: "Derniers billets | Last posts" }}</h2>
  </div>
    <table style="width:100%;border:none;">
      {%- for post in site.posts limit:20 -%}
      <tr>
        <td style="width:10%;border:none;text-align:right;">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>{{ post.date | date: date_format }}</span>
        </td>
        <td style="width:2%;border:none;">
        </td>
        <td style="border:none;">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {%- if post.tags.size > 0 -%}
           | [{{ post.tags }}]
          {%- endif -%}
        </td>
      </tr>
      {%- endfor -%}
    </table>
<br><br>
  <div style="text-align:left"><p class="rss-subscribe">Consulter la rubrique <a href="https://gillesbastin.github.io/archive/">Archive</a> pour voir tous les billets postés sur le site. Abonnement <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p></div>
  {%- endif -%}
  <br><br>
  </div>
